* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

.header {
    background-color: red;
    color: white;
    text-align: center;
    padding: 10px 0;
    height: 50px;
}

.container {
    display: flex;
    height: calc(100vh - 50px); /* Wysokość widoku pomniejszona o wysokość nagłówka */
}

.section {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 20px;
}

.left {
    background-color: blue;
    width: 30%;
}

.right {
    background-color: green;
    width: 70%;
}
